.header {
  grid-row: 1;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 4em;
}

.header__title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header__title > span {
  color: purple;
}

.header__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
