.timeline__day {
    width: 60px;
    user-select: none;
    cursor: pointer;
}

.timeline__day:hover {
    background-color: rgba(79, 141, 137, 0.5);
}

.timeline__day:nth-child(odd) {
    background: rgba(230, 230, 230, 0.2);
}

.timeline__day:nth-child(odd):hover {
    background-color: rgba(79, 141, 137, 0.5);
}

.timeline__day--date {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24.7%;
}

.timeline__circle {
    height: 25px;
    width: 25px;
    background-color: rgb(63, 171, 63);
    border-radius: 50%;
    display: inline-block;
}

.timeline__circle--off {
    background-color: orangered;
}

.timeline__box {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline__box:nth-child(even) {
    background: rgba(173, 203, 216, 0.2);
}

.timeline__popup {
    max-width: 34%;
    max-height: auto;
}

.timeline__popup>* {
    box-shadow: none !important;
}