.statistics-page {
  width: 100%;
}

.overview-chart {
  border: 1px solid rgba(125, 125, 125, 0.4);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

.overview-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: stretch;
  padding: 1em;
}

.overview-stats > div {
  display: flex;
  width: 35vw;
  justify-content: space-between;
}