.student-profile {
  border: 1px solid rgba(125, 125, 125, 0.4);
  border-radius: 5px;
  padding: 20px;
}
.student-profile__fields {
  display: flex;
  justify-content: stretch;
  gap: 2em;
}
.student-profile__vertical-slices {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 3em;
  gap: 5px;
  border-radius: 5px;
  background-color: rgba(125, 125, 125, 0.04);
}
.student-profile__horizontal-slices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  /* padding: .5em 0; */
}
.student-profile__header {
  display: flex;
  justify-content: space-between;
}
.student-profile__field-value {
  padding: 12px 0;
}