.nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.nav__options {
  display: flex;
  gap: 4px
}

.nav__search {
  width: 100%;
}

.student-listbox {
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.nav__btn {
  width: 100%;
}

.admission__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.2em 1em;
}

.admission__form--option {
  width: 150px;
  display: inline-block;
}

.student-list-item {
  display: flex;
  justify-content: space-between;
}