.timeline {
  display: flex;
  padding: 20px;
  width: calc(100vw - 360px);
  overflow-x: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
  min-height: 295px;
}

.timeline--fields {
  display: flex;
  height: 250px;
  width: 120px;
  flex-direction: column;
  text-align: center;
  position: sticky;
  align-self: flex-start;
}

.timeline--fields__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  padding: 0 5px;
}

.timeline--fields__box:nth-child(even) {
  background: rgba(173, 203, 216, 0.2);
}

.timeline__calendar {
  display: flex;
  overflow-x: scroll;
}

.timeline__empty-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
}