@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 0 20px;
  overflow: hidden;
}

::-webkit-scrollbar {
  height: 2px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}