* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  padding: 0 20px;
}


::-webkit-scrollbar {
  height: 2px;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: whitesmoke;
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
}